@model CoreLayer.Dtos.Herb.HerbDto

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Manager/Views/Shared/adminLayout.cshtml";
}

<h1>Edit</h1>

<h4>HerbDto</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
@Html.HiddenFor(x=>x.Id)
            @Html.HiddenFor(x=>x.Image)
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" name="Name" value="@Model.Name" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label">Description</label>
                <textarea class="form-control" name="Description" id="editorid" required>@Model.Description</textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" name="formFile" asp-for="Image" class="form-control" value="@Model.Image"/>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <input type="button" value="Cancel" class="btn btn-light" onclick="Cancel()"/>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script src="~/ckeditor/ckeditor.js">
    </script>
    <script>
    CKEDITOR.replace("editorid");


    function Cancel() {
        window.location.href = "/Manager/Herbs/List";
    }
    </script>
}

