@model IEnumerable<CoreLayer.Dtos.Herb.HerbDto>
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/Manager/Views/Shared/adminLayout.cshtml";
}
<p>
    <a href="/Manager/Herbs/Add" title="Create New" class="btn btn-success">Create New</a>
    <a href="/Manager/Herbs/CreateFile?type=2" title="Create New" class="btn btn-primary">Excel Aktar</a>
    @*<a href="/Manager/Herbs/CreateFile?type=1" title="Create New" class="btn btn-primary">Pdf Aktar</a>*@
</p> 

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            <th>
                Transactions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr id="tr_@item.Id">
            <td>
                <img src="~/@item.Image" height="80" width="80" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.Raw(item.Description)
            </td>
            <td>
                @if (item.IsActive)
                {
                    <span class="badge text-bg-success" id="sp_@item.Id" onclick="StatusChange(@item.Id)">Active</span>

                }
                else
                {
                    <span class="badge text-bg-danger" id="sp_@item.Id" onclick="StatusChange(@item.Id)">Passive</span>

                }
                @*@Html.Raw(item.IsActive == true ? "<span class='badge badge-success'>Active</span>": "<span class='badge badge-danger'>Passive</span>")*@
            </td>
            <td>
                <button class="btn btn-warning" onclick="EditHerb('@item.EncrypedId');">Edit</button>
                <button class="btn btn-primary" onclick="DetailHerb('@item.EncrypedId');">Detail</button>
                <button class="btn btn-danger" onclick="DeleteHerb('@item.EncrypedId');">Delete</button>
            </td>
        </tr>
        }
    </tbody>
</table>
<script>
    function EditHerb(id) {
        window.location.href = "/Manager/Herbs/Edit?code=" + id;
    }
    function DetailHerb(id) {
        window.location.href = "/Manager/Herbs/Detail?code=" + id;
    }
    function DeleteHerb(id) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = xhr.responseText;
                if (response != 0) {
                    console.log(response);
                    document.getElementById("tr_" + response).remove();
                }
                else {
                    alert("Herb Not Found");
                }
            }
        }
        xhr.open("POST", "/Manager/Herbs/Remove?code=" + id, true);
        xhr.send();
    }
    function StatusChange(id) {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (xhr.readyState == 4 && xhr.status == 200) {
                var response = xhr.responseText;
                var classN = document.getElementById("sp_" + response).className;
                if (classN == "badge text-bg-success") {
                    document.getElementById("sp_" + response).className = "badge text-bg-danger";
                    document.getElementById("sp_" + response).innerText = "Passive";
                }
                else {
                    document.getElementById("sp_" + response).className = "badge text-bg-success";
                    document.getElementById("sp_" + response).innerText = "Active";
                }
            }
        }
        xhr.open("POST", "/Manager/Herbs/Status?id=" + id, true);
        xhr.send();
    }
</script>

